/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* css reset start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* css reset end */
body {
    background-color: rgb(213, 212, 212);
}

/* header start */

.header {
    width: 100%;
    background: #808080;
}
.headerInfo{
    display: flex;
    justify-content: space-between;
}

.logoArea {}

.logoArea .logo {
    margin-left: 10px;
    float: left;
    width: 60px;
    height: 60px;
    background-color:#c8c5c5;
    line-height: 60px;
    text-align: center;
    color: white;

}

.logoArea .logoN {
    float: left;
    line-height: 40px;
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
}

.headerInfo .menu {}

.menu li {
    float: right;
}

.menu .topic {
    display: block;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    line-height: 60px;
    font-weight: bold;
    color: black;
}

.menu .topic:hover {
    background-color: #4c4a4a66;
}

.headerInfo .Info {
    width: auto;
}

.headerInfo .Info .img {
    float: left;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #fff;
    margin-top: 7px;
    margin-bottom: 7px;
    color:black;
    line-height: 46px;
}

.Info .name {
    float: left;
}

/* header end */
/* content start*/
.content {
    max-width: 1440px;
    margin: 0 auto;
}

/* content end */
/* footer start */
.footer{
    width: 100%;
    background: #808080;
}
.footer .footerInfo{
    color:#1a1a1a;
    font-size: 14px;
    padding: 40px 40px 20px 40px;
    line-height: 24px;
    font-family: Arial, sans-serif;
    text-align: center;
}
.footerInfo .logo{
    margin: 0 auto;
    width: 80px;
    height: 80px;
    background-color: #c8c5c5;
    line-height: 80px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
/* footer end */