.container {
    /*灰底框框 */
    margin: 20px auto;
    max-width: 900px;
    background-color: #939393;
    padding: 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.historyTopic {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 100px;
}

table.recordTable {
    width: 100%;
    border-collapse: collapse;
}

.recordTable th,td {
    padding: 20px;
    color: #333;
    text-align: center;
    vertical-align: middle;
}

.viewRecord-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 200px;
    background-color: white;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 12px;
    text-decoration: none;
}

.viewRecord-btn:hover {
    background: #bbb;
    color: #fff;
}

img.hisImg {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}